<div class="main-div bg-overlay ">
  <div class="flex flex-col items-center justify-center mx-8 w-1/2 mx-auto text-white h-full">
    <img
      src="../../assets/logos/transparent_svg.svg"
      class="w-40 h-40 md:w-64 md:h-64"
      alt="logo"
    />
    <h1 id="typewriter" class="text-sm  md:text-4xl font-bold"></h1>
    <p class="text-sm text-center my-4">
      BudgetBuddy is a user-friendly personal finance management tool designed
      to help individuals effortlessly track their income, expenses, and
      budgets. With intuitive features for expense categorization, setting
      financial goals, and integration with bank accounts for automatic
      tracking.
    </p>
    <div class="flex flex-row items-center justify-center mt-4 md:mt-8">
      <a
        routerLink="/login"
        class="border border-white text-sm  md:text-lg font-bold rounded-3xl px-4 py-2 uppercase tracking-wider mr-4"
        >Login</a
      >
      <a
        routerLink="/register"
        class="border border-white text-sm  md:text-lg font-bold rounded-3xl px-4 py-2 uppercase tracking-wider mr-4"
        >Register</a
      >
    </div>
  </div>
</div>
