<body>
    <div class="container">
      <input type="checkbox" id="check">
      <div class="login form">
        <header>Forgot Password</header>
        <form action="#">
          <input type="text" placeholder="Enter your email" #email>
          <button class="button" (click)="forgotPass(email.value)">Send Email</button>
        </form>
        <div class="signup">
          <span class="signup" routerLink="/signin">Back to 
            <a href="/signin">Login</a>
          </span>
        </div>
      </div>
      </div>

</body>